body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: rgb(224, 201, 211);
   text-align: center;
}

h1 {
    font-size: 30px;
    margin-top: 50px;
    color:rgb(121, 100, 111)

}

#info {
    margin: 10px auto;
    font-size: 20px;
}

.game-board {
    width: 310px;
    border: 5px solid rgb(125, 102, 112);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    margin: 20px auto;
    padding: 20px;
}

.card {
    width: 70px;
    height: 70px;
    background-color:rgb(141, 107, 119);
    border-radius: 10px;
    font-size: 50px;
    color:rgb(218, 189, 201);
    cursor: pointer;
}

.card-revealed {
    background-color: rgb(188, 143, 168);
}